<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}" >
<head>
  <meta charset="UTF-8">
  <title>Owners</title>
</head>
<body>

<h2 th:text="'owners page'"></h2>


  <table class="table table-striped">
    <thead>
      <tr>
        <th  style="width: 150px;">first name</th>
        <th  style="width: 150px;">last name</th>
        <th  style="width: 150px;"> id </th>

      </tr>
    </thead>
    <tr th:each=" owner : ${owners}">
      <td th:text="${owner?.firstName}">first name</td>
      <td th:text="${owner?.lastName}">last name</td>
      <td th:text="${owner?.id}"> id </td>

    </tr>
  </table>
</body>
</html>